body {
    font-family:Arial, Helvetica, sans-serif;
    background: url('beach.jpg');
    background-size: cover;
    padding: 40px;
    color: #080808;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .survey-form h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #2a6f97;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: 600;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .checkbox-group,
  .radio-group {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .checkbox-group label,
  .radio-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #2a6f97;
    color: rgb(247, 242, 242);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s;
  }
  
  button:hover {
    background-color: #077c38;
  }

  